# requirements.in
Django
django-debug-toolbar
dj-database-url
django-ordered-model
django-extensions
flake8
ipython
python-decouple
pytest-django
pytest-cov
psycopg[binary]
sentry-sdk[django]
model-bakery
